{% extends "layout.html" %}

{% block body %}
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Current Name: {{ project.name }}</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Done</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
        <td>
          <form method="POST" action="{{ url_for('projects_edit_name') }}">
            <input type="hidden" name="project_id" value="{{ project.id }}">
            {{ form.name }}
            <button type="submit" class="button">Change name</button>
        </form>
        </td>
         <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
         </ul>
            <td> 
            {{ project.time }}
                <a href="{{ url_for('projects_set_more_hours', project_id=project.id) }}" class="up">&#9650;</a>
                <a href="{{ url_for('projects_set_less_hours', project_id=project.id) }}" class="down">&#9660;</a>
            </td>
            {% if project.done %}
                <td style="padding-left:35px">YES</td>
              {% else %}
                <td style="padding-left:35px">NO</td>
              {% endif %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ url_for('projects_set_done', project_id=project.id) }}" class="status">Change status</a>
                <a href="{{ url_for('projects_index')}}" class="index">Back</a>
                </div>
            </td>
   </table>
  </div>
<style>

  /* Body */

  body{
  background: #6C63FF;
}

  td{
    margin-left: 30px;
    margin-top: 20px;
  }
  
/* Input field for name change */

  input{  
  background:  white;
  border-radius: 3px;
  border:none;
  height: 30px;
  font-weight: 300;
  color:rgb(22, 18, 102);
}

  /* Change name button */

.button{
  background: rgb(40, 36, 121);
  border: none;
  border-radius: 5px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 200;
}

/* Return button to index */

.index{
    color: rgb(22, 18, 102);
    background-color: rgba(22, 18, 102, 0.329);
    background-image: none;
    border-color: rgb(22, 18, 102);
    height: 30px;
    width: 120px;
    border: 1px solid rgb(22, 18, 102);
    border-radius: 2px;
    text-align: center;
}

.index:hover{
    color:white;
    background-color: rgb(22, 18, 102);
    border-color: none;
    height: 30px;
    width: 120px;
    border-radius: 2px;
    text-align: center;
    text-decoration-line: none;
}

/* Change status button */

.status{
    color: rgb(30, 124, 101);
    background-color: rgba(146, 222, 203, 0.63);
    background-image: none;
    height: 30.5px;
    width: 120px;
    border: 1px solid rgb(94, 185, 163);
    border-radius: 2px;
    text-align: center;
}

.status:hover{
    color:white;
    background-color:rgb(94, 185, 163);
    border-color: none;
    height: 30px;
    width: 120px;
    border: 1px solid rgb(94, 185, 163);
    text-decoration-line: none;
    border-radius: 2px;
    text-align: center;
}

/* Arrow up*/

.up{
  background:rgb(94, 185, 163);
  border: 4px solid rgb(94, 185, 163);
  border-radius: 3px;
}

.up:hover{
  color: rgb(30, 124, 101);
  text-decoration: none;
}

/* Arrow down */

.down{
  background:rgb(22, 18, 102);
  border: 4px solid rgb(22, 18, 102);
  border-radius: 3px;
}

.down:hover{
  color: rgb(97, 91, 207);
  text-decoration: none;
}

</style>

    
{% endblock %}