{% extends "layout.html" %}

{% block body %}
<html class="background">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Hours</th>
        <th scope="col">Done</th>
        <th scope="col"></th>
      </tr>
    </thead>

    {% for project in projects %}
    <tr>
      <td>
          <button type="button" class="button_project"><a href="{{ url_for('projects_show', project_id=project.id) }}">{{ project.name }}</a></button>
      </td>
      <td style="padding-left:50px">{{ project.time }}</td>
      {% if project.done %}
        <td style="padding-left:35px">YES</td>
      {% else %}
        <td style="padding-left:35px">NO</td>
      {% endif %}
      <td>
        </td>
    </tr>
    {% endfor %}
  </table>
  </html>

  <style>

/* Background */

.background{
  align-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

  </style>
{% endblock %}