{% extends "layout.html" %}

{% block body %}
{{ error }}



<form method="POST" action="{{ url_for('auth_login') }}">
  <table>
    <tr>
      <td>
</div>
{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
   
    <tr>
       <td>
            <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">
                          Remember me
                        </td>
      <tr>
      <td colspan="2">
       <button type="submit" class="btn btn-primary">Log in</button>
      </td>
    </tr>
</form>






{% endblock %}
